﻿.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #c2c2c2;
    border-left-color: #c2c2c2;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

.backgroundImage {
    background-image: url("../fonts/newspaper-wallpaper.jpg");
    background-color: #cccccc;
    border-bottom-right-radius: 15px;;
    border-bottom-left-radius: 15px;
}

.transparent{
    background-color: rgba(245, 245, 245, 0.96);
}


.nopadding{
    padding: 0;
    margin: 0;
}

.center{
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}

.btnBearbeitein{
    float: right;
    margin-right: 25px;
}

.btnTeilen{
    float: left;
    margin-left: 25px;
}


.roundedCB {
    border-radius: 50px;
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    top: -3px;
    position: relative;
    *overflow: hidden;
}

.txtSuccess{
    color: lime;
    font-size: large;
}

.redBorder{
    border-color: red;
    border-width: medium;
}

input[type="file"]{
    display: inline;
}

.btnSelected{
    color: black;
}

.colorRed{
    color: red;
}

.staticLink{
    color: black;
}

.staticLink:hover{
    color: #428bca;
}

.mainBlockRadius{
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.panel-default{
    border: none;
    border-color: white;
}

.panel{
    border: none;
    border-color: white;
}

.panel-heading{
    border: none;
}