﻿<%@ Page Title="Admin rights required to access this page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="NoAdmin.aspx.cs" Inherits="Pressespiegel.NoAdmin" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h1><%:Title%></h1>
</asp:Content>
