﻿<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="Pressespiegel.App_Inside.Main" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <div class="backgroundImage">
        <span style="display: block; height: 40px;"></span>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-md-2 nopadding">
                <div class="panel panel-default nopadding" style="background-color: rgba(0,0,0,0);" runat="server">
                    <div class="panel-heading" style="border-top-left-radius: 15px;
                            border-top-right-radius: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
                        <h4 class="panel-title">
                            <a runat="server" href="~/PressReview/Overview.aspx">Freie Suche &#9654;
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" style="border-top-left-radius: 0;
                            border-top-right-radius: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0;" runat="server">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" runat="server">Suchprofile &nbsp;&#9654;
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse out">
                            <div class="panel-body" style="background-color: rgba(245, 245, 245, 0.96); border-top-left-radius: 0;
                            border-top-right-radius: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
                                <asp:PlaceHolder runat="server" ID="placeHolderUserSites"></asp:PlaceHolder>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default" style="border-top-left-radius: 0;
                            border-top-right-radius: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0;" runat="server">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a runat="server" href="#collapseTwo" data-toggle="collapse" class="accordion-toggle" data-parent="#accordion2">Reporting &nbsp; &nbsp;&#9654;
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse out">
                            <div class="panel-body" style="background-color: rgba(245, 245, 245, 0.96);">
                                <asp:PlaceHolder runat="server" ID="placeHolderReports"></asp:PlaceHolder>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="background-color: rgba(0,0,0,0)" runat="server">
                    <div class="panel-heading" style="border-top-left-radius: 0;
                            border-top-right-radius: 0; border-bottom-left-radius: 15px; border-bottom-right-radius: 0;">
                        <h4 class="panel-title">
                            <a runat="server" href="~/PressReview/Archiv/ArchivOverview">Archiv &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&#9654;
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-8 nopadding" style="border-top-right-radius: 15%; border-bottom-left-radius: 15%; border-bottom-right-radius: 15px;">
                <div class="container body-content">
                    <asp:ContentPlaceHolder ID="TabContent" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>
        <span style="display: block; height: 40px;"></span>
    </div>
</asp:Content>
